{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
3DES
{% endblock %}

{% block links %}
    <link rel="icon" href="{% static 'images/logo.webp' %}" type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/caesar.css' %}">
{% endblock %}


{% block home %}
  <div class="profile">
            <img src="{% static '/images/free-icon-home-553416.png'%}" alt="Увы, не работает" class="profile">
  </div>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="sectionOne">
          <div class="block">
            <img src="{% static 'images/trides.webp' %}" alt="Увы, не работает" id="descpriptionImage">
          </div>
            <div class="block" id="descpription">
                : Модифицированный DES, который шифрует данные трижды с тремя разными ключами
            </div>
            <div class="block">
              <h1 class="">
                    Плюсы
              </h1>
               <ol>
                <li>Повышенная безопасность по сравнению с DES</li>
                <li>Совместим с системами на основе DES</li>

              </ol>
            </div>
            <div class="block">
              <h1>
                Минусы
              </h1>
              <ul>
                <li>Медленнее современных алгоритмов</li>
                <li>Постепенно выводится из эксплуатации</li>
              </ul>
            </div>
        </div>
        <div class="sectionTwo">
        </div>
    <script src="{% static 'js/caesar.js' %}">
    </script>

{% endblock %}
