<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAESAR</title>
    <link rel="icon" href="static/images/logo.webp" type="image/webp">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <div class="profile">
            <img src="static/images/free-icon-home-553416.png" alt="Увы, не работает" class="profile">
        </div>
        <form class="searchBar">
            <input type="text" placeholder="Искать здесь..." class="searchBarInput">
            <button type="submit" class="searchBarInputButton"></button>
        </form>
        <div class="profile">
            <img src="static/images/free-icon-profile-5987424.png" alt="Увы, не работает" class="profile">
        </div>
    </header>
    <div class="main">
        <div class="card">
            <div class="imageCard">
                <img src="static/images/cryptCaesar.jpg" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр Цезаря</h3>
                <p>Описание шифра Цезаря.</p>
                <form action="caesar.html">
                    <button class="button" type="submit">
                        Полное описание
                    </button>
                    </form>
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src=" static/images/DALL·E 2024-11-29 20.13.34 - A clean and minimalist 2D logo design representing AES encryption. The logo features a shield with a lock icon in the center, surrounded by laurel lea.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр AES</h3>
                <p>Описание шифра AES.</p>
                <form action="caesar.html">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images//DALL·E 2024-11-29 20.20.40 - A clean and minimalist 2D logo design representing RSA encryption. The logo features a shield with a digital key icon in the center, surrounded by lau.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр RSA</h3>
                <p>Описание шифра RSA.</p>
                <form action="caesar.html">
                     <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images/DALL·E 2024-11-29 20.24.45 - A clean and minimalist 2D logo design representing Blowfish encryption. The logo features a shield with a stylized fish icon in the center, surrounded.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр BLOWFISH</h3>
                <p>Описание шифра BLOWFISH</p>
                <form action="caesar.html">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
    <script src="script.js"></script>
</body>
</html>
