<!--Подключаемся к файлу layout то есть к нашему шаблону-->
{% extends 'main/layout.html' %}
<!--Загружаем статические файлы-->
{% load static %}
<!--Задаем название-->
{%block title%}
CAESAR
{% endblock %}

<!--Подключаем статические файлы-->
{% block links %}
    <link rel="icon" href="{% static 'images/logo.webp' %}" type="image/webp">
    <link rel="stylesheet" href="static/css/style.css">

{% endblock %}

<!--Загружаем иконку-->
{% block home %}
  <div class="profile">
            <img src="static/images/free-icon-home-553416.png" alt="Увы, не работает" class="profile">
  </div>
{% endblock %}
{% block tele %}
  <form action="https://t.me/caesarii25bot">
              <button class="tele">
     <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
    </svg>
             </button>
             </form>
{% endblock %}


     {% block content %}
<!--Отдел с карточками-->
     <div class="main">
<!--         Сама карточка-->
        <div class="card">
            <div class="imageCard">
                <img src="static/images/cryptCaesar.jpg" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр Цезаря</h3>
                <p>Заменяет каждую букву в тексте на другую, смещённую на фиксированное число позиций в алфавите.</p>
                <form action="{% url 'main/caesar' %}">
                    <button class="button" type="submit">
                        Полное описание
                    </button>
                    </form>
            </div>
        </div>
<!--         -->
        <div class="card">
            <div class="imageCard">
                <img src="{% static 'images/DALL·E 2024-11-29 20.13.34 - A clean and minimalist 2D logo design representing AES encryption. The logo features a shield with a lock icon in the center, surrounded by laurel lea.webp' %}" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр AES</h3>
                <p>Симметричный блочный шифр с длиной ключа 128, 192 или 256 бит.</p>
                <form action="{% url 'main/aes' %}">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="{% static 'images//DALL·E 2024-11-29 20.20.40 - A clean and minimalist 2D logo design representing RSA encryption. The logo features a shield with a digital key icon in the center, surrounded by lau.webp' %}" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр RSA</h3>
                <p>Асимметричный алгоритм, использующий простые числа для генерации </p>
                <form action="{% url 'main/rsa' %}">
                     <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images/DALL·E 2024-11-29 20.24.45 - A clean and minimalist 2D logo design representing Blowfish encryption. The logo features a shield with a stylized fish icon in the center, surrounded.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр BLOWFISH</h3>
                <p>Симметричный блочный шифр с переменной длиной ключа.</p>
                <form action="{% url 'main/blowfish' %}">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images/viginere.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр VIGINERE</h3>
                <p> Расширение шифра Цезаря, использующее ключевое слово для изменения смещения каждой буквы.</p>
                <form action="{% url 'main/viginere' %}">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images/md5.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр MD5</h3>
                <p>MD5 — хэш-функция, преобразующая данные в 128-битный хэш</p>
                <form action="{% url 'main/md5' %}">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images/sha.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр SHA-256</h3>
                <p>Криптографическая хэш-функция для проверки целостности данных.</p>
                <form action="{% url 'main/sha' %}">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images/des.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр DES</h3>
                <p>Старый стандарт симметричного шифрования с 56-битным ключом.</p>
                <form action="{% url 'main/des' %}">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images/trides.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр TRIPLE-DES</h3>
                <p> Расширение DES с тройным шифрованием.</p>
                <form action="{% url 'main/trides' %}">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>
        <div class="card">
            <div class="imageCard">
                <img src="static/images/otp.webp" alt="Картинка карточки">
            </div>
            <div class="content">
                <h3>Шифр ONE TIME PAD</h3>
                <p>Идеальный шифр, использующий случайный одноразовый ключ.</p>
                <form action="{% url 'main/otp' %}">
                <button class="button" type="submit">
                    Полное описание
                </button>
                </form>
               
            </div>
        </div>

 {% endblock %}

