{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
MD5
{% endblock %}

{% block links %}
    <link rel="icon" href="static/images/logo.webp" type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/caesar.css' %}">
{% endblock %}

{% block home %}
  <div class="profile">
      <img src="{% static '/images/free-icon-home-553416.png'%}" alt="Увы, не работает" class="profile">
  </div>
{% endblock %}
{% block tele %}
  <form action="https://t.me/caesarii25bot">
              <button class="tele">
     <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
    </svg>
             </button>
             </form>
{% endblock %}
{% block content %}
    <div class="main">
        <div class="sectionOne">
          <div class="block">
            <img src="{% static 'images/md5.webp' %}" alt="Увы, не работает" id="descpriptionImage">
          </div>
            <div class="block" id="descpription">
                MD5 (Message Digest Algorithm 5) — это криптографическая хэш-функция, разработанная Рональдом Ривестом в 1991 году. Она принимает входные данные произвольного размера и преобразует их в фиксированный 128-битный хэш (32 символа в шестнадцатеричном формате). MD5 широко использовалась для проверки целостности данных и хранения паролей.
            </div>
            <div class="block">

               <ul class="menu">
                   <li>Плюсы</li>
                <li>Простота и скорость</li>
                <li>Компактный результат</li>
                <li>Широкая поддержка</li>
              </ul>
            </div>
            <div class="block">

              <ul class="menu_2">
                <li>Минусы</li>
                <li>Криптографическая уязвимость</li>
                <li>Уязвимость к атаке перебором</li>
                <li>Отсутствие защиты от атак радужных таблиц</li>
              </ul>
            </div>
        </div>
        <div class="sectionTwo">
        </div>
    <script src="{% static 'js/caesar.js' %}">
    </script>

  
{% endblock %}
