{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
ONE TIME PAD
{% endblock %}

{% block links %}
    <link rel="icon" href="static/images/logo.webp" type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/caesar.css' %}">
{% endblock %}
{% block home %}
  <div class="profile">
            <img src="{% static '/images/free-icon-home-553416.png'%}" alt="Увы, не работает" class="profile">
  </div>
{% endblock %}
{% block content %}
    <div class="main">
        <div class="sectionOne">
          <div class="block">
            <img src="{% static 'images/otp.webp' %}" alt="Увы, не работает" id="descpriptionImage">
          </div>
            <div class="block" id="descpription">
                Использует ключ той же длины, что и сообщение. Каждая буква или бит сообщения шифруется с помощью XOR с соответствующим элементом ключа.
            </div>
            <div class="block">
              <h1 class="">
                    Плюсы
              </h1>
               <ol>
                <li>Абсолютная криптографическая защита (при условии одноразового и случайного ключа)</li>
              </ol> 
            </div>
            <div class="block">
              <h1>
                Минусы
              </h1>
              <ul>
                <li>Требует генерации, хранения и передачи ключа такой же длины, что и данные. </li>
                <li>Непрактичен для большинства реальных приложений.</li>
              </ul>
            </div>
        </div>
        <div class="sectionTwo">
        </div>

         <script src="{% static 'js/caesar.js' %}">

    </script>
{% endblock %}
