{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
SHA 256
{% endblock %}

{% block links %}
    <link rel="icon" href="static/images/logo.webp" type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/caesar.css' %}">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="sectionOne">
          <div class="block">
            <img src="{% static 'images/sha.webp' %}" alt="Увы, не работает" id="descpriptionImage">
          </div>
            <div class="block" id="descpription">
                Криптографическая хэш-функция из семейства SHA-2. Преобразует данные в фиксированный 256-битный хэш.
            </div>
            <div class="block">
              <h1 class="">
                    Плюсы
              </h1>
               <ol>
                <li>Высокая криптографическая стойкость.</li>
                <li>Используется в блокчейне и цифровых подписях</li>

              </ol> 
            </div>
            <div class="block">
              <h1>
                Минусы
              </h1>
              <ol>
                <li>Не подходит для обратимого шифрования </li>
                <li>Уязвим к атакам перебора, если хэшируется без соли</li>
              </ol>
            </div>
        </div>
        <div class="sectionTwo">
        </div>
       <script src="{% static 'js/caesar.js' %}">
    </script>
  
{% endblock %}
