{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
VIGENERE
{% endblock %}

{% block links %}
    <link rel="icon" href="static/images/logo.webp" type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/caesar.css' %}">
{% endblock %} 

{% block home %}
  <div class="profile">
            <img src="{% static '/images/free-icon-home-553416.png'%}" alt="Увы, не работает" class="profile">
  </div>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="sectionOne">
          <div class="block">
            <img src="{%  static 'images/viginere.webp' %}" alt="Увы, не работает" id="descpriptionImage">
          </div>
            <div class="block" id="descpription">
                Алгоритм подстановки, использующий ключевое слово для многократного шифрования каждой буквы текста.
            </div>
            <div class="block">
              <h1 class="">
                    Плюсы
              </h1>
               <ol>
                <li>Сложнее взломать, чем Caesar Cipher</li>
                <li>Легко реализуется</li>

              </ol> 
            </div>
            <div class="block">
              <h1>
                Минусы
              </h1>
              <ol>
                <li>Уязвим к криптоанализу, если длина ключа известна </li>
                <li>Уязвим для частотного анализа</li>

              </ol>
            </div>
        </div>
        <div class="sectionTwo">

    <script src="{% static 'js/caesar.js' %}">
    </script>
  </div>
  
{% endblock %}
