body{
  font-family: sans-serif;
  margin: 0;
  background-color: blueviolet;
}
.section{
  display: flex;
  justify-content: center;
  align-items: start;
}
.menu-btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  position: relative;
}
span{
  position: relative;
  
  width: 20px;
  height: 2px;
  background-color: #222;
}
* {box-sizing: border-box;}
.searchBar{
  display: flex;
  position: relative;
  width: 600px;
  margin: 0 auto;
  background: #F9F0DA;
  border-bottom: 1px solid #be290e;
}
.searchBar:hover{
    border-bottom: 4px solid #be290e;
    transition: 0.1s;
}

.searchBarInput, .searchBarInputButton {
  border: none;
  outline: none;
  background: transparent;
}
.searchBarInput{
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.searchBarInputButton {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.searchBarInputButton:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 20px;
  color: #be290e;
}