<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.webp" type="image/webp">
    <link rel="stylesheet" href="caesar.css">
    <title>CAESAR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   
</head>
<body>
    <header>
      <form action="index.html">
        <button type="submit" class="homeButton">
           <div class="profile">
            <img src="images/free-icon-home-553416.png" alt="Увы, не работает" class="profile">
          </div>
        </button>
        
      </form>
   
    <form class="searchBar">
        <input type="text" placeholder="Искать здесь..." class="searchBarInput">
        <button type="submit" class="searchBarInputButton"></button>
    </form>
    <div class="profile">
        <img src="images/free-icon-profile-5987424.png" alt="Увы, не работает" class="profile">
    </div>
    </header>
    <div class="main">
        <div class="sectionOne">
          <div class="block">
            <img src="images/DALL·E 2024-11-29 20.13.34 - A clean and minimalist 2D logo design representing AES encryption. The logo features a shield with a lock icon in the center, surrounded by laurel lea.webp" alt="Увы, не работает" id="descpriptionImage">
          </div>
            <div class="block" id="descpription">
              Шифр Цезаря — это один из самых простых и известных методов симметричного шифрования, использовавшийся ещё в Древнем Риме. Его принцип заключается в замене каждой буквы в тексте на букву, расположенную на определённое число позиций дальше в алфавите.
            </div>
            <div class="block">
              <h1 class="">
                Плюсы
              </h1>
               <ol>
                <li>Простота реализации</li>
                <li>Легкость понимания</li>
                <li></li>
              </ol> 
            </div>
            <div class="block">
              <h1>
                Минусы
              </h1>
              <ul>
                <li>Очень слабая защита </li>
                <li>Уязвим для частотного анализа</li>
                <li></li>
              </ul>
            </div>
        </div>
        <div class="sectionTwo">


          
          <button class="" onclick="">
            
          </button>
          <textarea name="" id="">
            
          </textarea>
          <textarea name="" id="">

          </textarea>
        </div>
    </div>

    <script src="script.js">

    </script>
</body>
</html>
